.modal-show {
    .modal-dialog {
        width: 80% !important;
        top: 25%;
    }
}

.detail-container {
    width: 80%;
    display: flex;
    margin: 40px auto;
    .detail-image {
        width: 70%;
        img {
            height: 600px;
            width: 100%;
        }
    }
    .detail-info {
        width: 30%;
        margin: 20px 0px 0px 20px;
        h1 h4 {
            font-weight: 500;
        }
    }
    .size-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .btn-light {
            height: 50px;
            margin: 10px 0px 10px 0px;
            width: 23%;
            border-radius: 10px;
            border: none;
        }
        .btn-light:hover {
            background-color: black;
            color: white;
        }
        .button-add {
            margin-top: 20px;
            width: 100%;
            .add {
                width: 80%;
                height: 50px;
                color: white;
                background-color: black;
                font-weight: 500;
            }
            .like {
                margin-left: 10px;
                width: 15%;
                height: 50px;
                font-weight: 500;
                background-color: white;
            }
        }
    }
    .promote {
        margin-top: 10px;
        a {
            color: black;
        }
    }
    .promote:hover {
        a {
            color: white;
        }
        background-color: black;
        color: white;
    }
}
